.cabeçalho{ 
    background-color: rgb(52, 228, 213);
    color: rgb(150, 252, 255);
    display: flex;
    justify-content: space-around;
    padding: 24px 0;
}
.paragrafo_1{
    color: rgb(131, 206, 255);
    background-color: rgb(42, 142, 189);
}
.Apresentação{
    padding: 40px; 
}