* {
   margin: 0px;
   padding: 0px;
}

.corpo_site {
    color: white;
    background-color: rgb(85, 88, 250);
}

.cabeçalho {
    text-align: center;
}

.cabeçalho_titulo {
    font-size: 60px;
}
.cabeçalho_subtitulo {
    font-size: 30px;
}

.paragrafo-introdução {
    text-align: center;
    text-align: justify;
    font-size: 20px;
}